*{
    margin: 0;
    padding:0%;
    
}

nav{
    position:fixed;
    
    top:0px;
    width: 100%;
    height: 80px;
    margin-left: 0%;
    
    background: #5c58c8;
    display: flex;
}
.logo{
    background-image: url("dappr.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:20px;
    margin-left: 40px;
    padding :5px;
    width: 215px;
height: 30px;

gap: 0px;
opacity: 0px;

}
.homebar{
    margin-top: 20px;
    margin-left: 200px;
}
li{
    
    font-family: DM Sans;
font-size: 30.43px;
font-weight: 400;
line-height: 47.43px;
color:#FFFFFF;

    display: inline;
    padding: 20px;

}

nav .search{

    margin-top: 20px;
    
    height: 40px;
    width: 200px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 50px;
    
}
nav .search p{
    margin-top: 7px;
    margin-left: 20px;
}
nav .search img{
    float: right;
    position:absolute;
    bottom: 10px;
    right: 10px;
    
    
    
}
.option img{
    
    height: 40px;
    width: 40px;
    margin-left: 100px;
    margin-top: 20px;
    float: right;
    
}
.homebar ul img{
    width: 20px;
    height: 10px;
    margin-left: 0;
}

main{
   
/* height: 1500px; */
margin:51px;
margin-top: 20px;
display: flex;
flex-direction: column;


}

   

.r1 .c{
    margin-top:150px;
    display: inline-block;
    vertical-align: middle;
   
}
.r1 #c1{
    
    background-image: url(image\ 4.png);
    margin-left: 51px;
    width: 400px;
height: 350px;
box-shadow: 4px 7px 32px 0px #00000070;


border-radius: 20px;

}

#i2{
margin-top: 250px;
  position:sticky;
  top: 100px;
  float:inline-end
  
  
   
}
#i2 img{

  width: 50px;
}
.r1 #c2{
    margin-left: 51px;
    width: 950px;
    background-color: blueviolet;
    box-shadow: 3px 5px 27px 0px #00000040 inset;

height: 350px;
border-radius: 20px;
border: 6px 0px 0px 0px;
background: #E5D8FF;


}
.r1 #c2 p{
    font-family: DM Sans;
font-size: 29px;
font-weight: 400;
line-height: 51.82px;
padding :20px;
text-align: left;

}
main .r2 {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-top: 25px;
  


}
main .r2 .c1{
    background: #929DFF;
    box-shadow: 0px 9px 31px 0px #00000066;

    width:300px;
    border-radius:11px;
}
main .r2 .c1 p{
   
    padding: 20px;
    font-family: DM Sans;
font-size: 25px;
font-weight: 700;
line-height: 51.82px;
letter-spacing: 0.04em;
text-align: left;
color: #FFFFFF;

    
}
main .r2 .c2{
    background: #734CF2;
   
    width:300px;
    border-radius:11px;
    box-shadow: 0px 9px 31px 0px #00000066;

}
main .r2 .c2 p{
  
    padding: 20px;
    font-family: DM Sans;
font-size: 25px;
font-weight: 700;
line-height: 51.82px;
letter-spacing: 0.04em;
text-align: left;
color: #FFFFFF;

  
}
main .r2 .c3{
    background: #D288FF;
    box-shadow: 0px 9px 31px 0px #00000066;

    width:300px;
    border-radius:11px;
}
main .r2 .c3 p{
    
    padding: 20px;
    font-family: DM Sans;
font-size: 25px;
font-weight: 700;
line-height: 51.82px;
letter-spacing: 0.04em;
text-align: left;
color: #FFFFFF;

  
}
main .r2 .c4{
    background: #000000;
    box-shadow: 0px 9px 31px 0px #00000066;

    width:300px;
    border-radius:11px;
}
main .r2 .c4 p{
    
    padding: 20px;
    font-family: DM Sans;
font-size: 25px;
font-weight: 700;
line-height: 51.82px;
letter-spacing: 0.04em;
text-align: left;
color: #FFFFFF;

  
}
main .r3 {
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin-top: 100px;
    background: #483EFF;

    border-radius: 20px;


}
main .r3 .c1{
        display: flex;
    width: 500px;
    flex-direction: column;
    justify-content:space-evenly;

}
main .r3 .c1 .rc1{
    margin-left: 100px;
    height: 100px;
    width: 300px;
    
  
    background: #BCE0F6;

    
    text-align: center;
    
    border-radius: 22px;
    font-family: DM Sans;
font-size: 28px;
font-weight: 700;
line-height: 62.54px;
letter-spacing: 0.04em;
box-shadow: 0px 6px 35px 0px #00000063;



}
main .r3 .c1 .rc2{
    margin-left: 100px;
    height: 100px;
    width: 300px;
    border: solid 5px white;
    color:white;
    background-color: transparent;
    text-align: center;
    border-radius: 22px;
    font-family: DM Sans;
font-size: 28px;
font-weight: 700;
line-height: 62.54px;
letter-spacing: 0.04em;


}
main .r3 .c1 .rc3{
    margin-left: 100px;
    height: 100px;
    width: 300px;
    border: solid 5px white;
    color:white;
    background-color: transparent;
    text-align: center;
    border-radius: 22px;
    font-family: DM Sans;
font-size: 28px;
font-weight: 700;
line-height: 62.54px;
letter-spacing: 0.04em;


}
main .r3 .c2{
    width: 700px;
    height: 450px;
    margin-top: 25px;;
    background-color: white;
    border-radius: 19px;
}
main .r3 .c2 p{
    font-family: Inter;
font-size: 38px;
font-weight: 700;
line-height: 45.99px;
letter-spacing: 0.105em;
text-align: left;
color: #04285A;
padding: 20px;


}
table{
    padding: 30px;
}
table, tr,th,td{
    padding: 10px;
    margin-left: 30px;;
}
th{
    font-family: Roboto;
font-size: 25px;
font-weight: 500;
line-height: 32.81px;
letter-spacing: 0.105em;
text-align: left;

}
 td{
    font-family: Roboto;
font-size: 21px;
font-weight: 400;
line-height: 28.13px;
letter-spacing: 0.05em;
text-align: left;


}
.i1 {
    position:fixed;
    bottom: 0px;
    right: 100px;
}
.i1 img{
    width:100px;
}
